:root {
    --header-height : 5rem;
    --footer-height : 5rem;
    --content-height: calc(100vh - 1rem - var(--header-height) - var(--footer-height));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .login-btn {
        @apply 
            w-32 
            block 
            p-2 
            text-center 
            rounded-md 
            border-2 
            border-primary
            font-semibold 
            text-primary 
            hover:text-white
            hover:bg-primary
            transition
    }
  
    .input {
      @apply
        focus:border-primary
        focus:ring-2
        focus:ring-blue-200
        text-base
        border-gray-400
        border
        rounded-md
        outline-none
        text-gray-700
        py-1
        px-3
        leading-4
        transition-colors
        duration-200
        ease-in-out
    }
  
    .input-error {
      @apply
        text-base
        border-secondary
        border
        placeholder-secondary
        rounded-md
        outline-none
        text-secondary
        py-1
        px-3
        leading-4
        transition-colors
        duration-200
        ease-in-out
    }



  }


  @layer utilities {

    .propertie-header {
      min-height: var(--header-height);
  
    }
    .propertie-content {
      min-height: var(--content-height);
  
    }
    .propertie-footer {
      min-height: var(--footer-height);
    }
  }